Source: mingw-w64-readline
Priority: optional
Maintainer: Tobias Schlemmer <keinstein@users.berlios.de>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 4.1.1
Section: libs
Homepage: https://tiswww.case.edu/php/chet/readline/rltop.html
#Vcs-Git: https://anonscm.debian.org/collab-maint/mingw-w64-readline.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mingw-w64-readline.git

Package: libreadline-mingw-w64-dev
Section: libdevel
Architecture: any
Depends: mingw-w64-readlineBROKEN (= ${binary:Version}), ${misc:Depends}
Description: MinGW port of readline for editing typed command lines (mingw-w64, development files)
 <insert long description, indented with spaces>

Package: libreadline1-mingw-w64
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MinGW port of readline for editing typed command lines (mingw-w64, runtime)
 <insert long description, indented with spaces>
